[workspace]
name = "conda-recipes"
version = "0.0.0"
description = "Conda Recipes"
authors = ["Chawye Hsu <su+git@chawyehsu.com>"]
channels = ["chawyehsu", "conda-forge"]
platforms = ["linux-aarch64", "linux-64", "win-64", "osx-64", "osx-arm64"]
license = "BSD-3-Clause"

[tasks]
build = "rattler-build"

[dependencies]
rattler-build = ">=0.55.0,<0.56"

[target.win-64.dependencies]
m2-patch = ">=2.7.6.2,<3"
