name: Update recipes

on:
  schedule:
    - cron: "0 12 * * 0"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Run update script
        shell: pwsh
        run: |
          Install-Module powershell-yaml -Scope CurrentUser -Force -AllowClobber -Confirm:$false
          ./update.ps1

      - name: Commit and push changes
        shell: pwsh
        run: |
          $changes = git status --porcelain
          if ($changes) {
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add -A
            git commit -m "chore: bump releases"
            git push origin HEAD:main
          } else {
            Write-Host "No changes to commit."
          }
